/* Container */
.container {
  /* [disabled]width: 100%; */
  width: 100%;
  height: 20em;
  margin-left: auto;
  margin-right: auto;
  /* [disabled]height: 1000px; */
  /*background-image: url(../images/seedlings.jpg);*/
  padding-top: 0px;
  /*background-repeat: no-repeat;*/
  /*background-size: 100% 100%;*/
  margin-top: auto;
  margin-bottom: auto;
  /*font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;*/
  padding-right: auto;
  padding-left: auto;
}


/* Hero Section */
.irrigation_title {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: auto;
  padding-right: auto;
}

.irrigation_header {
  color: #FFFFFF;
  text-align: center;
  margin-top: -0px;
  margin-right: -0px;
  margin-bottom: -0px;
  margin-left: -0px;
  letter-spacing: 4px;
  /* [disabled]font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; */
  font-weight: 300;
  font-size: 3em;
}


.schedule {
  clear: none;
  display: inline-block;
  width: 100%;
  /* [disabled]width: 100%; */
  /* [disabled]min-width: 400px; */
  padding-top: 1em;
  padding-right: 0px;
  margin-right: 0px
}

.zone_time {
  width: 49.5%;
  text-align: center;
  float: left;
  /*border-right: thin solid #777777;*/
  margin-right: 2px;
  background: rgba(0, 0, 0, 0.5);
}

.time_title {
  color: #f1f1f1;
  margin-bottom: 0.8em;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 2px;
}

.schedule .zone_time h4 {
  margin-top: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0.2em;
  color: #52BAD5;
  font-weight: 500;
  font-size: 1em;
}


.states {
  clear: both;
  display: inline-block;
  width: 100%;
  /* [disabled]background-color: #FFFFFF; */
  /* [disabled]min-width: 400px;
  padding-bottom: 35px;*/
  padding-top: 2em;
  margin-top: -0.2em;
  margin-bottom: 0px;
  line-height: 1;
  text-align: center;
  color: var(--primary-text-color);
 }

.attribute {
  width: 19.7%;
  text-align: center;
  float: left;
  background: rgba(0, 0, 0, 0.6);
  margin-right: 1px;
}

.state_title {
  color: #f1f1f1;
  margin-bottom: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 350;
  font-size: 1em;
  letter-spacing: 0.5px;
}

.states .attribute h4 {
  margin-top: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0.2em;
  color: #52BAD5;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.5px;
  /*color: var(--secondary-text-color);*/
}

.clear {
  clear: both;
}

.card {
  margin: auto;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

.ha-icon {
  height: 18px;
  margin-right: 5px;
  color: var(--paper-item-icon-color);
}

.temp {
  font-weight: 300;
  font-size: 4em;
  color: var(--primary-text-color);
  position: absolute;
  right: 1em;
}

.tempc {
  font-weight: 300;
  font-size: 1.5em;
  vertical-align: super;
  color: var(--primary-text-color);
  position: absolute;
  right: 1em;
  margin-top: -14px;
  margin-right: 7px;
}

.variations {
  display: inline-block;
  font-weight: 300;
  color: var(--primary-text-color);
  list-style: none;
  margin-left: -2em;
  margin-top: 4.5em;
}

.variations.right {
  position: absolute;
  right: 1em;
  margin-left: 0;
  margin-right: 1em;
}

.forecast {
  width: 100%;
  margin: 0 auto;
  height: 9em;
}

.day {
  display: block;
  width: 20%;
  float: left;
  text-align: center;
  color: var(--primary-text-color);
  border-right: .1em solid #d9d9d9;
  line-height: 2;
  box-sizing: border-box;
}

.dayname {
  text-transform: uppercase;
}

.forecast .day:first-child {
  margin-left: 0;
}

.forecast .day:nth-last-child(1) {
  border-right: none;
  margin-right: 0;
}

.highTemp {
  font-weight: bold;
}

.lowTemp {
  color: var(--secondary-text-color);
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 4em;
  color: var(--primary-text-color);
  position: absolute;
  right: 1em;
}

.icon.bigger {
  width: 10em;
  height: 10em;
  margin-top: -4em;
  position: absolute;
  left: 0em;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.weather {
  font-weight: 300;
  font-size: 1.5em;
  color: var(--primary-text-color);
  text-align: left;
  position: absolute;
  top: -0.5em;
  left: 6em;
  word-wrap: break-word;
  width: 30%;
}