html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	padding:0;
}

body {
	margin:0;
	background-color: #000;
	font-size:15px;
	color:#ffffff;
	padding:0;
	font-family:'Helvetica Neue','Helvetica','Open Sans','Arial';
}

body::after
{
  background-image: url(/custom_css/dark1/img/gradient-background-_edited.png);
 /* background: #000;
  background-image: 
   -webkit-radial-gradient(80% 10%, circle, #4d6776, transparent),
   -webkit-radial-gradient(80% 50%, circle, #27282a, transparent),
   -webkit-radial-gradient(20% 80%, 40em 40em, #161d23, transparent),
   -webkit-radial-gradient(10% 10%, circle, #212d3d, transparent); */
  background-size:cover;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

b,strong {
	font-weight:700;
}

a {
	text-decoration:none;
	color:inherit;
}

img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle;
}

img,object {
	max-width:100%;
}

iframe {
	max-width:100%;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

td {
	vertical-align:middle;
}

ul,ol {
	padding:0;
	margin:0;
}

h1, h2, h3, h4, h5, p {
	padding:0;
	margin:0;
}

h1 {
	margin-bottom:6px;
	text-align:center;
	font-size:100%;
	font-weight:200;
}

h2 {
	font-size:220%;
	font-weight:400;
/	color:#646464; 
}

h3 {
	font-size:125%;
	font-weight:300;
	color:#646464;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
	margin: 0px auto;
}

.icon-background {
	pointer-events:none;
	width:100%!important;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	opacity:.1;
	font-size:1375%;
	text-align:center;
	margin-top:82px;
}

.list-nostyle {
	list-style:none;
}

.gridster ul {
	list-style:none;
}

.gs-w {
	width:100%;
	display:table;
	cursor:pointer;
	z-index: auto !important;
}

.widget {
	padding:0px 0px;
	text-align:center;
	width:100%;
	display:table-cell;
	vertical-align:middle;
	/*border-radius: 12px; */
	background-color: rgba(0, 0, 0, 0.5);
	/*background-color: #161d23; */
}

.title
{
	color:#646464;
	z-index: 1;
	/*background-color: rgba(255, 255, 255, 0.2); 
	margin-top: -5px;
	height: 35px;
	padding-top: 5px;
	padding-bottom: 6px; */
  
}

.title2
{
  z-index: 2;
  margin-top: 0;
}

.icon-inactive {
	color:#888;
	font-size:300%;
	top: 54px !important;
}

.icon-active {
	font-size:300%;
	top: 54px !important;
}

.icon
{
  font-size: 300%;
  /* top: 56px !important; */
}

#container {
	padding-top:0px;
}

.unit, .level {
	font-size:120%!important;
	vertical-align:baseline!important;
	color: #646464 !important;
}

.value
{
  color: inherit;
}

.valueunit
{
  /*top: 62px !important; */
}

.state_text
{
  /* bottom: -3px !important; */
  text-transform: capitalize;
}

.levelunit
{
  bottom: 0px !important;
}

.secondary-info
{
  font-weight: 400 !important;
}


.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #222; }